@model List<DogModel>



<div class="mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
               <th scope="col"> <h3>Name</h3> </th>

               <th scope="col"> <h3>Life Span</h3> </th>
               <th scope="col"> <h3>Height</h3> </th>
               <th scope="col"> <h3>Weight</h3> </th>
            </tr>
        </thead>

        @{
            foreach (var dog in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Dog" asp-action="GetByBreed" asp-route-Name="@dog.Name">
                            @dog.Name
                        </a>
                    </td>
                    <td>
                        @dog.LifeSpan
                    </td>
                    <td>
                        @dog.Height.Metric Cm / @dog.Height.Imperial Inches
                    </td>
                    <td>
                        @dog.Weight.Metric Kgs / @dog.Weight.Imperial Lbs
                    </td>
                </tr>
            }
        }
    </table>
</div>